<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="POST"  enctype="multipart/form-data">
    <label for="file">Upload the Video</label>
    <input type="file" id="file" name="file" accept="video/*" onchange="previewVideo(this)">
    <video id="video" style="max-width: 100%; height: auto; display: none;"></video>
    <input type="submit">Submit</input>
  </form>

  <script>
    function previewVideo(input) {
      var video = document.getElementById('video');
      video.src = URL.createObjectURL(input.files[0]);
      video.style.display = 'block';
    }
  </script>
  
</body>
</html>